/* Remove the default margin and padding from the body. */
body {
  background-color: #000000;
  padding: 0;
  margin: 10px;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

/* Set map, body, and html to 100% of the screen size. */
body,
html {
  height: 100%;
}

#dashboard {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#dashboard td,
#dashboard th {
  border: 1px solid #999;
  padding: 4px;
}

#dashboard th {
  padding-top: 6px;
  padding-bottom: 6px;
  text-align: center;
  color: black;
  background-color: #ffc800;
} 

#visual1,
#visual2,
#visual3,
#visual4,
#visual5,
#visual6 {
  height: 250px;
  width: 500px;
  background-color: aliceblue;
}

/* Text Classes */
H1 {
  font-size: 16pt;
}

H2 {
  font-size: 14pt;
}

H3 {
  font-size: 13pt;
}

#breadcrumbs {
  width: 150px;
  margin-top: 10px;
  text-transform: uppercase;
  font-size: 11px;
  font-weight: bold;
}

td {
  text-align: center;
}
#link-active {
  background-color: #999;
  color: #000000;
}

.subtitle {
  font-size: 10 pt;
}

#vis-desc {
  font-size: 12 pt;
}

a:link {
  color: #ffc800;
  text-decoration: none;
}

a:visited {
  color: #ffc800;
  text-decoration: none;
}

a:hover {
  color: #ff3700;
  text-decoration: underline;
}

a:active {
  text-decoration: underline;
}

#linkedin {
  color: #0a66c2;
  font-weight: bold;
}
ul {
  font-size: 12 pt;
}
li {
  list-style-type: square;
}

/* Style for search_title.js */
/* ==================================================*/

/* Search container for dropdown and search icon using flexbox */
.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-bottom: 20px;
}

/* Dropdown styling */
select {
  background-color: black;
  color: #ffc800;
  font-size: 11pt;
  padding: 10px;
  border: 1px solid white;
  margin: 10px;
  width: 80%;
  text-align: center;
}

select:focus {
  outline: none;
  border-color: #ffc800;
}

/* Font Awesome Search Icon Styling */
.search-icon {
  font-size: 24px; /* Set icon size */
  margin-left: 10px; /* Space between dropdown and icon */
  color: #ffc800;
  cursor: pointer; /* Makes the icon clickable */
}

/* Description container styling */
.description-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
  max-width: 420px;
  margin-left: auto;
  margin-right: auto;
}

/* Textbox styling (Description - textarea) */
textarea {
  background-color: black;
  color: white;
  font-size: 10pt;
  padding: 10px;
  border: 1px solid white;
  margin: 10px;
  width: 400px;  /* Increased width */
  height: 50px; /* Adjusted height for better view */
  text-align: center;
  resize: none;
}

textarea:focus {
  outline: none;
  border-color: #ffc800;
}

/* Placeholder styling */
textarea::placeholder {
  color: #ffc800; /* Placeholder text color */
  text-align: center;
}

/* Style for word_cloud.js */
/* ==================================================*/
#wordcloud {
  margin: 15px 15px auto;
  width: 80%;
  height: 200px;
  background-color: #000;
  border: 1px solid #000;
}